* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.s_cont {
    width: 100%;
    max-width: 1180px;
    padding: 0 5px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


.s_cont_block {
    padding: 100px 0 0;
}

.s1 .s_cont_block {
    padding: 150px 0;
}

.title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 20px;
}

.descr {
    font-size: 26px;
}

.s1 img {
    width: 100%;
    margin: 0 auto;
}

.s2 .s_cont {
    flex-wrap: wrap;
    justify-content: space-around;
}

.s2 .s_cont_block {
    width: 100%;
    max-width: 450px
}


.s2 img {
    width: 100%;
    max-width: 410px
}
.s2 .last_s2{
    max-width: 600px;
    width: auto;
}

.s2 .title {
    font-size: 26px;
    font-weight: 500;
    text-align: center
}


.pen {
    width: 100%;
    max-width: 570px;
}

.key{
    width: 100%;
    max-width: 420px
}

.s3 img{
    padding: 0 5px
}
.s3 .img_block{
       display: flex;
    align-items: center;
}

.s7 img,
.s10 img {
    width: 100%;
}

.s3 .title {
    text-align: center
}

.s3 .s_cont,
.s4 .s_cont,
.s6 .s_cont,
.s8 .s_cont,
.s5 .s_cont {
    flex-direction: column
}

.s7 .s_cont,
.s10 .s_cont {
    justify-content: space-around;
    align-items: center
}

.s7 .s_cont_block,
.s10 .s_cont_block {
    width: 100%;
    max-width: 650px;
    padding: 100px 15px;
}

.s4 .img_block,
.s6 .img_block {
    text-align: center
}

.s4 img,
.s6 img {
    width: 100%;
    max-width: 768px;
}


.s8 .img_block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center
}

.s8 img {
    width: 100%;
    max-width: 450px
}


@media screen and (max-width: 1024px) {

    .s1 .s_cont_block,
    .s_cont_block,
    .s7 .s_cont_block,
    .s10 .s_cont_block {
        padding: 50px 0;
    }

    .s2 .s_cont,
    .s7 .s_cont,
    .s10 .s_cont,
    .s8 .img_block,
    .s3 .img_block{
        flex-direction: column
    }

    .s3 img,
    .s2 .last_s2{
        width: 100%;
    }

    .title {
        font-size: 33px;
    }

    .descr {
        font-size: 18px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .s3 .img_block {
        text-align: center
    }

    .s2 .s_cont_block {
        text-align: center;
    }
    
   

/*
    .s3 img:last-of-type {
        max-width: 327px;
    }
*/


}
