/*header*/

header {
    background-size: cover;
    background-image: url(./assets/images/featured-image-header.png);
    object-fit: contain;
    max-width: 100vw;
    max-height: 1320px;
    /*height: 100vh ;*/
}

.header {
    color: #ffffff;
    padding: 0 171px;
}

.logo {
    font-family: Source Sans Pro;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 40px;
}

.logo-bold-text {
    font-weight: 700
}

.header-assets {
    padding-top: 40px;
    display: flex;
    align-items: center;
}

.header-top,
.header-content {
    display: flex;
    justify-content: space-between;
}

.header-search {
    padding: 0px 35px;
}

.fa-search {
    font-size: 16px;
}

.header-link {
    font-family: Source Sans Pro;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.header-login {
    margin-right: 12px
}

.header-singup {
    border-radius: 5px;
    background-color: #ff0079;
    padding: 20px 65px;

}




/*raiting*/

.rating-block {
    width: 424px;
    height: 148px;
    border-radius: 5px;
    background-color: rgba(73, 76, 98, 0.2);
    border: solid 2px rgba(255, 255, 255, 0.2);
    margin-top: 149px;
    padding: 10px 30px;
}

.rating-stars {
    display: flex;
    margin-top: 30px;
}

.rating-title {
    font-family: Source Sans Pro;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.rating-title span {
    opacity: 0.5;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}

.rating-item {
    width: 41.9px;
    height: 39.1px;
    color: #ff0079;
    margin: 0 8px;
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
    font-size: 46px;
}

.fin-rating {
    width: 51px;
    height: 38px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    padding: 2px 10px;
    color: #fff;
    font-size: 24px;
}


/*raiting*/

/*header*/

body {
    padding: 0;
    margin: 0;
}

span {
    cursor: pointer
}

.modal {
    position: absolute;
    width: 250px;
    margin-left: -150px;
    left: 50%;
    top: -100%;
    padding: 20px;
    background: #fff;
    border: 1px solid #333;
    z-index: 9999;
    transition: all 0.5s ease-in;
    text-align: center;
}

.modal-title {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"] {
    margin-bottom: 15px
}

.overflow {
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}/*base*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

ul,
li {
    list-style-type: none
}

.page{background-color: #f8f8f8}

/*base*/.logIn{
    display: grid;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 220px;
    display: none;
} 
.footer {
    padding: 0 171px;
    background-color: #fff;
    margin-top: 390px;
}

.footer-logo {
    color: #494c62;
}

.footer-top {
    display: flex;
    justify-content: space-between
}

.footer-nav {
    margin-top: 60px;
}

.footer-nav-link {
    width: 95px;
    height: 38px;
    font-family: Source Sans Pro;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #80818a;
    padding: 0 30px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}

.footer-text {
    opacity: 0.5;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #80818a;
}

.footer-social-link {
    width: 40.7px;
    height: 40.7px;
    opacity: 0.3;
    background-color: #babbc3;
    padding: 12px 13px;
    border-radius: 30px;
    color: #fff;
    margin-right: 12px;
}

.footer-social-link:nth-child(2) {
    padding: 12px 15px;
}@charset "UTF-8";
/*перенести*/
.header-content {
  margin-top: 828px; }
  .header-content__title {
    width: 887px;
    height: 114px;
    font-family: Source Sans Pro;
    font-size: 75px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase; }
  .header-content__nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 705px; }
  .header-content__link {
    height: 38px;
    opacity: 0.7;
    font-family: Source Sans Pro;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff; }
  .header-content__stroke {
    width: 3px;
    height: 35px;
    opacity: 0.5;
    border-radius: 2px;
    background-color: #ffffff; }
  .header-content__choice {
    margin: 80px 0 104px; }
  .header-content__choice-link {
    width: 196px;
    height: 40px;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 30px 0 0; }
  .header-content__header-link {
    opacity: 0.9;
    border-radius: 5px;
    border: solid 3px #ffffff;
    padding: 20px 60px; }
  .header-content__header-select-link {
    padding: 24px 72px;
    border-radius: 5px;
    background-color: #ff0079; }

/*Grid*/
.row {
  padding: 0 171px;
  margin-bottom: 42px; }

.column {
  float: left;
  width: 24%;
  padding: 10px;
  margin: 0px 33px 0px 0px;
  text-align: center; }

.row .column:last-child {
  margin: 0; }

.film__year {
  position: absolute;
  width: 72px;
  height: 45px;
  font-family: Source Sans Pro;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #babbc3;
  margin-top: 670px;
  margin-left: 30px; }

.film__conteiner {
  display: -ms-flexbox;
  display: flex;
  padding: 0px 54px 0 31px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: #fff;
  height: 160px; }

.film__title {
  font-size: 40px;
  color: #494c62;
  font-weight: 600;
  margin-top: 28px; }

.film__category {
  font-size: 30px;
  font-weight: 600;
  color: #babbc3; }

.film__rait {
  border-radius: 5px;
  border: solid 2px #ff0079;
  height: 58px;
  padding: 15px 24px;
  margin-top: 49px; }

.column img {
  max-width: 100%; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; }

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer; }

.btn:hover {
  background-color: #ddd; }

.sbtn.active {
  background-color: #666;
  color: white; }

/*Grid*/
/*taxonomies*/
.taxonomies {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 95px 171px 62px 171px;
  border-bottom: 1px solid;
  padding-bottom: 30px; }
  .taxonomies__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .taxonomies__item:nth-child(2) .taxonomies__link {
    margin-left: 22px; }
  .taxonomies__item:nth-child(3) .taxonomies__link {
    margin-left: 61px; }
  .taxonomies__item:nth-child(4) .taxonomies__link {
    margin-left: 55px; }
  .taxonomies__link {
    color: #80818a;
    font-size: 36px; }

.active-link {
  font-size: 36px;
  color: #ff0079;
  border-bottom: 1px solid red;
  padding: 0 68px 28px 41px; }

/*taxonomies*/
@media screen and (min-width: 1366px) and (max-width: 1920px) {
  .header {
    padding: 0px 10px; }
  .logo {
    font-size: 40px; }
  .header-singup {
    padding: 20px 30px; }
  .header-assets {
    padding-top: 25px; }
  .header-content {
    margin-top: 400px; }
    .header-content__title {
      width: auto; }
    .header-content__header-select-link {
      padding: 11px 20px; }
    .header-content__header-link {
      padding: 10px 20px; }
    .header-content__choice-link {
      font-size: 30px; }
  .rating-block {
    margin: 0 auto; }
  .taxonomies {
    margin: 25px;
    padding: 0 175px;
    border-bottom: none; }
    .taxonomies__link {
      font-size: 32px;
      margin-right: 22px; }
  .active-link {
    padding: 0 20px 5px 25px;
    font-size: 32px; }
  .btn {
    background-color: #f8f8f8;
    font-size: 32px; }
  .column {
    margin: 0px 10px 0px 0px; }
  .column, .row .column:last-child {
    width: 89%; }
  .film__conteiner {
    max-width: 100%;
    height: 100%;
    padding: 0 10px; }
  .film__title {
    margin-top: 35px;
    font-size: 30px; }
  .film__rait {
    margin-top: 50px;
    height: 46px;
    padding: 13px 16px; }
  .film__year {
    display: none; }
  .film__category {
    font-size: 25px; }
  .footer {
    padding: 0 10px;
    margin-top: 150px; }
  .footer-nav {
    margin: 30px;
    width: 355px; }
  .footer-bottom {
    margin: 30px 0; } }

@media screen and (max-width: 1200px) {
  .header {
    padding: 0px 10px; }
  .logo {
    font-size: 40px; }
  .header-singup {
    padding: 10px 15px; }
  .header-assets {
    padding-top: 25px; }
  .header-content {
    display: block;
    margin-top: 200px; }
    .header-content__title {
      font-size: 50px; }
    .header-content__header-select-link {
      padding: 11px 20px; }
    .header-content__header-link {
      padding: 10px 20px; }
    .header-content__choice {
      margin: 45px 0 50px; }
    .header-content__choice-link {
      font-size: 30px; }
  .rating-block {
    margin: 0 auto; }
  .taxonomies {
    padding: 0 100px;
    border-bottom: none;
    margin: 25px; }
    .taxonomies__link {
      font-size: 32px;
      margin-right: 22px; }
  .active-link {
    padding: 0 20px 5px 25px;
    font-size: 32px; }
  .btnContainer-grid {
    display: block; }
  .btn {
    background-color: #f8f8f8;
    font-size: 32px; }
  .row {
    padding: 0px 259px; }
  .column, .row .column:last-child {
    width: 89%; }
  .film__conteiner {
    max-width: 100%; }
  .film__title {
    margin-top: 35px; }
  .film__rait {
    margin-top: 50px;
    height: 46px;
    padding: 13px 16px; }
  .film__year {
    display: none; }
  .film__category {
    font-size: 25px; }
  .footer {
    padding: 0 10px;
    margin-top: 150px; }
  .footer-nav {
    margin: 30px;
    width: 355px; }
  .footer-bottom {
    margin: 30px 0; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-content {
    display: block;
    margin-top: 510px; }
    .header-content__title {
      width: auto; }
    .header-content__header-select-link {
      padding: 24px 30px; }
    .header-content__header-link {
      padding: 20px 30px; }
    .header-content__choice-link {
      font-size: 30px; }
  .rating-block {
    margin: 0 auto; }
  .taxonomies {
    padding: 0 45px;
    border-bottom: none; }
    .taxonomies__link {
      font-size: 32px;
      margin-right: 22px; }
  .active-link {
    padding: 0 20px 5px 25px;
    font-size: 32px; }
  .btnContainer-grid {
    display: none; }
  .btn {
    background-color: #f8f8f8;
    font-size: 32px; }
  .row {
    padding: 0 171px; }
  .column, .row .column:last-child {
    width: 100%; }
  .film__conteiner {
    max-width: 100%; }
  .film__title {
    margin-top: 10px; }
  .film__rait {
    margin-top: 50px;
    height: 46px;
    padding: 13px 16px; }
  .film__year {
    display: none; }
  .film__category {
    font-size: 25px; }
  .footer {
    padding: 0 10px;
    margin-top: 150px; }
  .footer-nav {
    margin-top: 0px;
    width: 270px; }
  .footer-bottom {
    margin: 30px 0; } }

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header-search {
    padding: 0px 10px; }
  .header-top {
    display: block;
    text-align: center; }
  .header-assets {
    padding-top: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
  .header-link {
    font-size: 15px; }
  .header-singup {
    padding: 8px 15px; }
  .header-content {
    display: block;
    margin-top: 140px;
    padding-bottom: 10px; }
    .header-content__title {
      font-size: 40px;
      text-align: center;
      width: auto; }
    .header-content__nav {
      display: none; }
    .header-content__choice {
      margin: 15px 0 25px; }
    .header-content__choice-link {
      font-size: 21px; }
    .header-content__header-select-link {
      padding: 5px 5px; }
    .header-content__header-link {
      padding: 2px 10px; }
    .header-content__header-add-link {
      margin-left: 60px; }
  .fin-rating {
    margin-top: 8px;
    margin-left: 87%; }
  .rating-block {
    width: auto;
    height: auto; }
  .rating-title {
    font-size: 22px; }
  .rating-item {
    display: none; }
  .rating-stars {
    margin-top: -40px;
    margin-left: 100px; }
  .taxonomies {
    display: none; }
  .row {
    padding: 0;
    margin: 0;
    text-align: center; }
  .column {
    margin: 0; }
  .column, .row .column:last-child {
    width: 100%; }
  .film__conteiner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    height: 110px;
    height: auto; }
  .film__title {
    font-size: 30px;
    margin: 20px; }
  .film__category {
    font-size: 16px; }
  .film__rait {
    margin-top: 13px; }
  .footer {
    margin-top: 42px; }
  .footer-top {
    display: block;
    text-align: center; }
  .footer-nav {
    margin: 0;
    text-align: center;
    width: auto; }
  .footer-bottom {
    display: block; }
  .footer-text {
    margin-bottom: 15px; }
  .footer-social {
    text-align: center; } }
