@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none
}

.main-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*header*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1440px;
    z-index: 1;
}

.header-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 44px 65px 0;
    margin: 0 auto;
}

.logo {
    background-image: url(../img/logo-ico.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 48px;
}


.nav-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: 45px;
}

/*menu*/

.burge {
    position: relative;
}

.burger_button {
    position: absolute;
    left: 18px;
    top: -10px;
    width: 40px;
    z-index: 22;
    height: 40px;
    border-radius: 50%;
    background: #0036FF;
    transition: all 0.5s ease;
}

.burger_lines:before,
.burger_lines:after,
.burger_lines {
    position: absolute;
    background-color: #fff;
}

.burger_lines {
    cursor: pointer;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 2px;
}

.burger_lines:before,
.burger_lines:after {
    content: '';
    width: 16px;
    height: 2px;
    left: -3px;
}

.burger_lines:before {
    top: 8px;
}

.burger_lines:after {
    top: -8px;
}

.burger_button_active {
    background-color: #fff;
}

.burger_button_active .burger_lines {
    background-color: transparent;
        left: 50%;
}


.burger_button_active .burger_lines:before {
    top: 0;
    transform: rotate(45deg);
    background-color: #0036FF;
    left: -1px;
}

.burger_button_active .burger_lines:after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #0036FF;
    left: -1px;
}

.burger_nav {
    padding-top: 180px;
    padding-left: 125px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background: rgba(0, 54, 255, 0.9);
    overflow-y: auto;
    right: -100%;
    transition: all 0.5s ease;
}

.burger_active {
    right: -50%;
    width: 100%;
    top: 0;
}

.main-menu-link,
.info-menu-link {
    font-weight: bold;
    font-size: 32px;
    line-height: 63px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: all 0.2s ease;
    cursor: pointer;
}

.info-menu-link {
    font-size: 16px;
    line-height: 33px;
}

.body_hidden {
    overflow: hidden;
}

.burger_overlay {
    display: none;
    position: fixed;
    top: 0;
    transition: display 0.4s ease;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    opacity: .7;
    filter: grayscale(100%);
    background-color: #a29e9e;

}

.burger_overlay_active {
    display: block;
}

.main-menu,
.info-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}


.burger-menu {
    display: none;
}

.youtube-cert-menu-block {
    background-image: url(../img/youytube-certified-menu.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 22px;
    position: absolute;
    bottom: 50px;
    right: 52%;
    transform: translate(-58%, 0px);
}


.log-in {
    background-image: url(../img/log-ico.svg);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.log-in-menu-active {
    background-image: url(../img/logo-ico-menu.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    z-index: 22;
}

/*main*/
.main-content {
    padding-bottom: 165px;
}

.first-screen {
    background-image: url(../img/bubbles.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    height: 100vh;
    position: relative;
}

.first-screen-text-content {
    padding-top: 195px;
    padding-left: 180px;
}

.section-title {
    font-weight: bold;
    font-size: 52px;
    line-height: 51px;
    letter-spacing: 0.03em;
    color: #000000;
    width: 100%;
    max-width: 250px;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 4px;
    background: #0036ff;
    bottom: -31px;
    left: -4px;

}

.title-blue-span {
    color: #0036FF;
}

.first-screen-text {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.03em;
    color: #000000;
    width: 300px;
    margin-top: 46px;
}

.first-screen-head {
    background-image: url(../img/face.png);
    width: 507px;
    height: 491px;
    position: absolute;
    bottom: 0;
    left: 34%;
}

.icon-line {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1311px;
    position: absolute;
    bottom: 50px;
    left: 4%;
    transform: translate(0%, 0px);
}

.scrool-block {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-left: 120px;
    margin-top: 5px;
    position: relative
}

.scrool-block::before {
    content: " \2193";
    font-size: 24px;
}

.scrool-animate {
    animation-name: scrool-animate;
    animation-timing-function: linear;
}

@keyframes scrool-animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.youtube-cert-block {
    background-image: url(../img/youytube-certified.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 22px;
}

/*bloggers*/

.bloggers-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 90px auto 145px;
    width: 100%;

}

.bloggers-content-text-content {
    margin-bottom: 290px;
}

.bloggers-content-title {
    font-weight: bold;
    font-size: 52px;
    line-height: 51px;
    letter-spacing: 0.03em;
    color: #000000;
    width: 100%;
    max-width: 250px;
    position: relative;
}

.bloggers-content-text {
    font-weight: bold;
    font-size: 29px;
    line-height: 38px;
    color: #000000;
    width: 300px;
    margin-top: 39px;
}

.bloggers-content-item {
    max-width: 325px;
    width: 100%;
}

.first-collum {
    margin-left: 7px;
}

.middle-collum {
    margin-left: 55px;
    margin-top: 57px;
}

.middle-collum .bloger-card-block:last-child,
.last-collum .bloger-card-block:last-child {
    margin-top: 90px;
}

.last-collum {
    margin-left: 58px;
    margin-top: 178px;
}



.bloger-card-block {
    margin-top: 65px;
    position: relative;

}

.blogger-photo {
    overflow: hidden;
}

.blogger-img {
    border-radius: 25px;
    filter: grayscale(100%);

}

.blogger-img:hover {
    filter: grayscale(0);
    transition: 1s;
    transform: scale(1.1);
}

.blogger-teg {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    background: #0036FF;
    border-radius: 27px;
    padding: 4px 9px;
    position: absolute;
    top: 26px;
    left: 23px;
}

.bloger-name {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #0036FF;
    margin: 18px 0 10px;
}

.bloger-subscribers {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

}

.subscribers-numeral {
    color: #020202;
}

/*footer*/

.footer {
    background: #0030E5;
    margin-top: 280px;
}

.footer-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 65px;
}

.right-footer-block {
    width: 528px;
}

.footer-main-menu {
    margin-right: 125px;
}

.footer-nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.soc-icon-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 81px;
    padding-bottom: 21px;
}

.soc-item-link {
    background-repeat: no-repeat;
    margin-right: 24px;
}

.fb {
    background-image: url(../img/facebook.png);
    width: 22px;
    height: 22px;
}

.vk {
    background-image: url(../img/vk.png);
    width: 22px;
    height: 22px;
}

.tel {
    background-image: url(../img/telegram.png);
    width: 22px;
    height: 22px;
}

.youtube {
    background-image: url(../img/youtube.png);
    width: 25px;
    height: 17px;
}

.insta {
    background-image: url(../img/insta.png);
    width: 22px;
    height: 22px;
}

.linkedin {
    background-image: url(../img/link.png);
    width: 22px;
    height: 22px;
}

.copyright-block {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.5;
}

/*media*/


@media screen and (min-width: 320px) and (max-width: 1250px) {
    
    .header {
        background-color: rgba(255, 255, 255, 0.7);
    }

    .header-content {
        padding: 25px 65px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .burger_active,
    .youtube-cert-menu-block {
        right: 0;
    }

    .burger_nav {
        padding-top: 65px;
        padding-left: 20px;
    }

    .first-screen {
        background-image: none;
    }

    .first-screen-text-content {
        padding: 100px 20px 5px;
    }

    .first-screen-head {
        background-size: contain;
        background-repeat: no-repeat;
        position: inherit;
        left: 0;
        width: 295px;
        height: 286px;
        left: 50%;
        transform: translate(-50%, 0px);
    }

    .icon-line {
        bottom: initial;
        justify-content: center;
        margin-top: 15px;
        left: inherit;
    }

    .scrool-block {
        display: none;
    }

    .bloggers-content {
        justify-content: space-around;

    }

    .bloggers-content-text-content {
        margin-bottom: 0;
        padding: 0px 20px;
    }

    .first-collum,
    .last-collum,
    .middle-collum {
        margin-left: 0;
        margin-top: 0;
    }

    .bloger-name,
    .bloger-subscribers {
        padding-left: 20px;
        padding-right: 20px;
    }

    .blogger-img {
        filter: grayscale(0%);
    }

    .footer {
        margin-top: 650px;
    }

    .footer-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .soc-icon-block {
        padding-top: 50px;
    }

    .right-footer-block {
        padding-top: 20px;
    }


}


@media screen and (min-width: 645px) and (max-width: 1024px) {
    .last-collum {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-evenly;
        max-width: 100%;
    }

    .last-collum .bloger-card-block {
        margin-top: 0;
    }

    .footer {
        margin-top: 485px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .burger_nav {
        padding-top: 110px;
        padding-left: 60px;
    }
.icon-line{
        left: inherit;
    }
    .first-screen-text-content {
        padding-top: 90px;
        padding-left: 50px;
    }

    .first-screen {
        background-image: none
    }

    .first-screen-head {
        width: 340px;
        height: 328px;
        background-size: contain;
        left: 50%;
        transform: translate(-50%, 0px);
    }

    .icon-line {
        padding: 0 30px;
    }

    .scrool-block {
        margin-left: 0;
    }

    .bloggers-content {
        justify-content: center;
    }

    .last-collum {
        margin: 0;
    }

    .info-menu {
        margin-top: 0;
    }

    .footer-nav {
        margin-top: 25px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1365px) {
    .first-screen-text-content {
        padding-top: 170px;
        padding-left: 94px;
    }
.icon-line{
        left: inherit;
    }
    .footer {
        margin-top: 255px;
    }

    .scrool-block {
        margin-left: 0;
    }

    .icon-line {
        padding: 0 50px;
    }
}
@media screen and (min-width: 1366px){
    .icon-line{
        left: inherit;
    }
}