* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background: #eee;
}
.some{margin-bottom: 15px;}
.content-block {
    position: relative;
    display: block;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    background-color: #FFF;
    min-height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}

.header {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #999;
    background-color: #FFF;
}

.main-block { 
    min-height: calc(100vh - 100px);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.section {
    float: left;
    width: calc(100% - 300px);
    position: relative;
    display: block;
    padding: 0 15px;
    -webkit-transition: width 250ms ease-out;
    transition: width 250ms ease-out;
}

.sidebar {
    float: right;
    position: relative;
    display: block;
    width: 300px;
    padding: 0 15px;
    border-left: 1px solid #ccc;
    box-shadow: -10px 0 15px -10px rgba(0, 0, 0, .5);
    opacity: 1;
    -webkit-transition: opacity 250ms linear 250ms, -webkit-transform 250ms ease-out 250ms;
    transition: opacity 250ms linear 250ms, -webkit-transform 250ms ease-out 250ms;
    transition: transform 250ms ease-out 250ms, opacity 250ms linear 250ms;
    transition: transform 250ms ease-out 250ms, opacity 250ms linear 250ms, -webkit-transform 250ms ease-out 250ms;
}

.footer {
    position: fixed;
    display: block;
    width: 100%;
    max-width: 800px;
    min-width: 500px;
    margin: 0 auto;
    bottom: 0;
    padding: 0 15px;
    height: 50px;
    border-top: 1px solid #999;
    background: #fff;
}

@media screen and (max-width:700px) {
    .main-block {display: block;}
    .sidebar {
        opacity: 0;
    -webkit-transform: translate3d(300px,0,0);
    transform: translate3d(300px,0,0);
    -webkit-transition: opacity 250ms ease-out,-webkit-transform 250ms ease-out;
    transition: opacity 250ms ease-out,-webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out,opacity 250ms ease-out;
    transition: transform 250ms ease-out,opacity 250ms ease-out,-webkit-transform 250ms ease-out;
    }

    .section {
      width: 100%;
    -webkit-transition: width 250ms ease-out 250ms;
    transition: width 250ms ease-out 250ms;
    }
}

@media screen and (max-width: 500px){
    .main-block{overflow-x: auto;}
     
}
